*{
    font-family: 'Poppins';
}

body{
    background-color: hsl(0, 0%, 94%);
}

.container{
    margin:7vh 18vw;
    background-color: white;
    height:85vh;
    border-radius: 30px 30px 200px 30px; 
}

.inputrows{
    padding: 4.2vh 4.3vw ;
    display: flex;
    gap:1.4vw;
}

.dayinp, .monthinp, .yearinp{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.day, .month, .year{
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 550;
    color:hsl(0, 1%, 44%);
}

input{
    width: 9vw;
    height:9.5vh;
    font-size: 32px;
    font-weight: 700;
    padding:0 2.2vw;
    border:1px solid hsl(0, 0%, 86%);
    border-radius: 6px;
    color: hsl(0, 0%, 8%);
    cursor:pointer;
}

input:hover, input:focus{
    border:1px solid hsl(259, 100%, 65%);
    outline: none;
}

.separation{
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.sepline{
    background-color: hsl(0, 0%, 86%);
    height: 1px;
    width:45vw;
}

.arrow > button{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border:0;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    padding: 20px;
}

button:hover{
    background-color: black;
    
}

.outputcols{
    margin:0 3.6vw;
    font-size: 75px;
    font-weight: 800;
    font-style: italic;

}

.yearans, .monthans, .dayans{
    color:hsl(259, 100%, 65%)
}

.years, .months, .days{
    display: flex;
}

span{
    color:hsl(0, 100%, 67%);
    font-size: 14px;
}




@media (max-width: 960px) {
    .container{
        margin:7vh 18vw;
        background-color: white;
        height:85vh;
        border-radius: 30px 30px 200px 30px; 
    }
    
    .inputrows{
        padding: 4.2vh 4.3vw ;
        display: flex;
        gap:1.4vw;
    }
    
    .dayinp, .monthinp, .yearinp{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    
    .day, .month, .year{
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: 550;
        color:hsl(0, 1%, 44%);
    }
    
    input{
        width: 9vw;
        height:9.5vh;
        font-size: 17px;
        font-weight: 700;
        padding:0 2.2vw;
        border:1px solid hsl(0, 0%, 86%);
        border-radius: 6px;
        color: hsl(0, 0%, 8%);
    }
    
    .separation{
        display: flex;
        align-items: center;
        margin: 0 50px;
    }
    
    .sepline{
        background-color: hsl(0, 0%, 86%);
        height: 1px;
        width:45vw;
    }
    
    .outputcols{
        margin:0 3.6vw;
        font-size: 50px;
        font-weight: 800;
        font-style: italic;
    
    }
    
    .yearans, .monthans, .dayans{
        color:hsl(259, 100%, 65%)
    }
    
    .years, .months, .days{
        display: flex;
    }
}


@media (max-width: 500px) {
    .container{
        margin:20px 20px;
        background-color: white;
        height:70vh;
        border-radius: 10px 10px 70px 10px; 
    }
    
    .inputrows{
        padding: 4.2vh 4.3vw ;
        display: flex;
        gap:1.4vw;
    }
    
    .dayinp, .monthinp, .yearinp{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    
    .day, .month, .year{
        letter-spacing: 3px;
        font-size: 15px;
        font-weight: 550;
        color:hsl(0, 1%, 44%);
    }
    
    input{
        width: 70px;
        height:9.5vh;
        font-size: 23px;
        font-weight: 700;
        padding:0 2.2vw;
        border:1px solid hsl(0, 0%, 86%);
        border-radius: 6px;
        color: hsl(0, 0%, 8%);
    }
    
    .separation{
        display: flex;
        align-items: center;
        margin: 0 20px;
    }
    
    .sepline{
        background-color: hsl(0, 0%, 86%);
        height: 1px;
        width:45vw;
    }
    .sepline2{
        background-color: hsl(0, 0%, 86%);
        height: 1px;
        width:45vw;
    }
    
    .outputcols{
        margin:0 3.6vw;
        font-size: 44px;
        font-weight: 800;
        font-style: italic;
    
    }
    
    .yearans, .monthans, .dayans{
        color:hsl(259, 100%, 65%)
    }
    
    .years, .months, .days{
        display: flex;
    }
}

